<!DOCTYPE html>
<html>
  <head>
    <title>RailsChatBot</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module", defer: true %>
  </head>

  <body>

    <%= render partial: 'layouts/shared/navbar' %>
    <div class="container-fluid d-flex vh-100">
    <%= yield %>
  </div>
  </body>
</html>
